$accent : rgb(53, 81, 181);
$accent-light : rgb(251, 251, 255);
$gray-1 : rgb(26, 26, 26);
$gray-2 : rgb(85, 85, 85);
$gray-3 : rgb(196, 196, 196);
$gray-4 : rgb(240, 240, 240);
$error : rgb(242, 85, 85);
$error-light : rgb(255, 239, 239);
$black-1 : rgb(0, 0, 0);