.header-container{
    margin: 0 auto;
}

#site-header{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-nav{

    .list-nav{
        gap : 45px;
        display: flex;
        justify-content: center;

        .menu-item{
            list-style-type: none;

            &.current_page_item{
                a{
                    background-color: $accent;
                    color : $accent-light;
                }
            }

            &.current_page_parent{
                a{
                    background-color: $accent;
                    color : $accent-light;
                }
            }

            a{
                text-decoration: none;
                color : $black-1;
                font-family: $Overpass;
                padding: .4rem 1rem;

                &:hover{
                    background-color: $accent;
                    color : $accent-light;
                }

                &:focus{
                    background-color: $accent;
                    color : $accent-light;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #site-header{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }

    .header-container{
        max-width: 1000px;
        width: 100%;
    }

    .menu-mobile{
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .header-container{
        max-width: 330px;
        width: 100%;
    }

    .menu-mobile{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border: none;
        cursor: pointer;
    }

    body.mobile-nav-open{
        overflow: hidden;
    }

    header.mobile-nav-open{
        position: relative;
        background-color: $white;
        height: 100vh;
        z-index: 100;

        .header-container{
            height: 100%;
            display: block;
        }

        .main-nav{
            display: block !important;

            .list-nav{
                margin: 2rem 0;
                flex-direction: column;
                align-items: center;
    
                .menu-item{
                    font-size: 1.2rem;
                }
            }
        }
    }

    #mobile-button{
        background-color: transparent;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: 2rem;
        width: 2rem;

        .burger-icon{
            width: 100%;
            height: 100%;
            display: block;
            background-image: url('./src/img/burger-menu.svg');
        }

        .cross-icon{
            background-image: url('./src/img/burger-menu-cross.svg');
        }
    }

    .main-nav{
        display: none;
    }


}