#site-content{
    padding: 1rem 0;
    width: 100%;
    margin: 0 auto;
}

.page-title{
    text-align: center;
}

@media screen and (min-width: 1024px) {
    #site-content{
        max-width: 556px;
    }
}

@media screen and (max-width:1024px) {
    #site-content{
        max-width: 330px;
    }
}