#site-content{
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

.page-title{
    text-align: center;
}

@media screen and (min-width: 1024px) {
    #site-content{
        max-width: 600px;
    }
}

@media screen and (max-width:1024px) {
    #site-content{
        max-width: 300px;
    }
}
